{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <!-- Aqui se va a colocar lo que se cambia y esta asociado a esta vista -->
    <h1>Formulario - Agregar entregable</h1>

    {% if miFormulario.errors %}

    <p style="color:red;">Están mal los datos, revisar</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

        <table>

            {{ miFormulario.as_table }}

        </table>


        <br><input type="submit" value="Enviar">


    </form>



{% endblock %}